* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    background-color: #F1F8FF;
    position: relative;
    top: -30px;
    margin-bottom: -30px;

}

section {
    width: 100%;
    background-color: #F1F8FF;
    overflow-x: hidden;

}