.receipt-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #ffff;
}

.title {
    font-size: 25px;
    font-weight: bolder;
    padding: 2%;
}

.receipt-product {
    width: 450px;
    display: flex;
    justify-content: space-between;
    font-weight: normal;
    font-size: 1.2rem;
    margin-bottom: 2px;
}

.receipt-product-name {
    display: flex;
    flex-direction: column;
}

.receipt-product-piece {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 50px;
    display: flex;
    flex-direction: column;
}

.receipt-product-price {
    width: 150px;
    display: flex;
    flex-direction: column;
    color: #2ecc71;
    font-weight: bold;
    justify-content: end;
    text-align: right;
}

.receipt-total {
    margin-bottom: 40px;
    margin-top: -30px;
}

.total-text {
    font-size: 19px;
    font-weight: 700;
}

.total-price {
    font-weight: bold;
    color: #2ecc71;
}